body{
    min-height: 800px;
    border: 8px solid black;
    display: flex;
    gap: 10px 10px; /* horizontal and vertical gap */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    /*use colum, row or row-reverse*/

    /* flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; */

    /* justify_content is helpful for horizontal alignment (center, flex-star or flex-end)
    also you can use justify-content: space-around , space-between or space evenly; */

    /* align-items: center;  */
    /*this is for vertical alignment (center, flex-start or flex-end) 
    and also yoiu can use same as justify-content for spaces*/
}

.box{
    height: 200px;
    width: 200px;
    font-size: 40pt;
    background-color: #0071FF;
    display: flex;
    justify-content: center;
    align-items: center;
}